/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*
GENERAL
*/

:root {
    --lower-height: 100px;
    --aside-width: 200px;
}

.container {
    padding: 0 10px;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

/*
MACRO
*/

#up {
    height: calc(100vh - var(--lower-height));
    display: flex;
}

#up > aside {
    width: var(--aside-width)
}

#up > main {
    width: calc(100% - var(--aside-width));
    overflow-y: auto;
}

#up > main > * {
    margin-bottom: 20px;
}

#up > main > header {
    text-align: right;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    background-color: #080B12;
    color: white;
    padding: 20px 10px;
}

#up > main nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#up > main nav > ul > li > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 10px;
}

#low {
    height: var(--lower-height);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

/*
ASIDE
*/
aside {
    min-height: 350px;
}

aside #aside-top {
    height: 140px;
}

aside #aside-top .logo-container {
    padding: 10px 5px;
}

aside #aside-top nav ul {
    list-style: none;
}

aside #aside-top nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

aside #aside-middle {
    height: calc(100% - 200px);
}

aside #aside-middle > h4 {
    height: 30px;
}

aside #aside-middle > div {
    height: 30px;
}

aside #aside-middle ul {
    height: calc(100% - 60px);
    overflow-y: auto;

}

aside #aside-bottom {
    height: 60px;
}

aside #aside-bottom > * {
    padding: 5px;
}

aside #aside-bottom > :first-child {
    border-bottom: solid gray 1px;
}

/*
FOOTER
*/

#footer-left {
   
}

#footer-left .coveralbum {
    display: flex;
    justify-content: center;
    height: 65%;
}

#footer-center {
    width: 35%;
}

#footer-center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#footer-center ul li {
    padding: 5px 20px;
}

#footer-center > :first-child ul li button {
    border: none;
    background: none;
    color: white;
    display: inline-block;
}

#footer-center > :last-child {
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

#footer-center > :last-child #time {
    flex-grow: 1;
    background-color: gray;
    height: 4px;
    margin: 0 4px;
    border-radius: 2px;
}

#footer-center > :last-child #time > * {
    background-color: darkgray;
    width: 15%;
    height: 4px;
    margin: 0 10px;
    border-radius: 2px;
}

/*
RESPONSIVE
*/
@media screen and (max-width: 1100px) {

    .my-col {
        width: calc((25%) - 20px);
    }

}

@media screen and (max-width: 700px) {

    .my-col {
        width: calc((50%) - 20px);
    }
    
}

@media screen and (max-width: 600px) {
   
    #up > aside {
        width: 50px;
    }
    
    #up > main {
        width: calc(100% - 50px);
    }

    aside #aside-top .logo-container .mobile {
        display: block;
    }

    aside #aside-top .logo-container .desktop {
        display: none;
    }

    aside #aside-top nav ul li a > span {
        display: none;
    } 

    aside #aside-middle > * {
        display: none;
    }

    aside #aside-bottom > * > span {
        display: none;
    }
}

/*
DEBUG
*/

.debug #up {
    background-color: darkblue;
    color: white;
}

.debug #up > aside {
    background-color: black;
}

.debug #up > main {
    background-color: #141922;
}

.debug #low {
    background-color: black;
    color: white;
}

.debug #low > * {
    background-color: #282828;
    color: white;
}

.debug .my-col {
    background-color: blue;
}

.debug #aside-top {
    background-color: aqua;
}

.debug #aside-middle {
    background-color: crimson;
}

.debug #aside-middle ul {
    background-color: brown;
}

.debug #aside-bottom {
    background-color: aqua;
}