/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*
GENERAL
*/

:root {
    --lower-height: 100px;
}

/*
MACRO
*/

#up {
    height: calc(100vh - var(--lower-height));
    display: flex;
}

#up > aside {
    width: 200px;
}

#up > main {
    width: calc(100% - 200px);
}

#low {
    height: var(--lower-height);
}

/*
DEBUG
*/

.debug #up {
    background-color: darkblue;
    color: white;
}

.debug #up > aside {
    background-color: black;
}

.debug #up > main {
    background-color: darkslategrey;
}

.debug #low {
    background-color: black;
    color: white;
}